h1 {
font-weight: bold;
}

p {
font-weight: light;
}

nav {
font-size:125%;
}

iframe {
display: block;
margin: auto;
}

.video-container {
position: relative;
height: 0;
padding-bottom: 56.25%;
padding-top: 35px;
overflow:hidden;
}

.video-container iframe {
position: absolute;
top: 0;
left; 0;
width: 100%;
height: 100%;
}

